* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: black; */
}
body {
  overflow-x: hidden;
  background-color: #000;
}

ul {
  list-style: none;
}

.main-name {
  color: red;
  justify-content: left;
  text-align: left;
  padding: 20px 220px;
  font-family: fantasy;
  font-size: 400%;
}

.search-box {
  display: flex;
  padding: 0px 0px 30px 500px;
  border-radius: 30px;
  height: 90px;
  width: 100%;
  border-width: 180px;
  text-emphasis-color: rgb(125, 125, 165);
  border-radius: 20px;
  justify-content: center;
  align-items: left;
  margin-left: 80px;
}

.search-bar {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 10px 20px;
  font-size: 20px;
  color: #cac7ff;
}

.search-bar search-btn button {
  border: 0;
  outline: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #58629b;
  cursor: pointer;
}

.nav-icon {
  color: white;
}

/*menu*/
.menu-wrap {
  position: fixed;
  top: 0;
  left: 100px;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary--color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger line*/
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* top and bottom lines*/
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/*moves line down */
.menu-wrap .hamburger > div:after {
  top: 10px;
}

/*toggler animate*/
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/*turns into x */
.menu-wrap .toggler:checked + .hamburger > div:before {
  top: 0;
  transform: rotate(90deg);
}

.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/*show menu when*/
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0, 2s ease-out;
}

/*overlay menu*/
.menu-wrap .menu {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  align-items: right;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 100%;
  width: 0;
  height: 0;
  display: flex;
  flex: none;
  align-items: right;
  justify-content: center;
  transform: scale(0);
  transition: all 0, 2s ease-out;
}

.menu-wrap .menu > div > div {
  text-align: right;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0, 2s ease-out;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: white;
  font-size: 30px;
  padding: 20 px;
  display: flex;
  flex-direction: row;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0, 2s ease-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*slide styles*/
.img1 {
  height: 500px;
  padding: 3px;
  border-radius: 4px;
}
.img2 {
  height: 500px;
  padding: 30px;
  border-radius: 4px;
}
.img3 {
  height: 500px;
  padding: 3px;
  border-radius: 4px;
}
.img4 {
  height: 500px;
  padding: 3px;
  border-radius: 4px;
}
.img5 {
  height: 500px;
  padding: 3px;
  border-radius: 4px;
}
.img6 {
  height: 500px;
  padding: 3px;
  border-radius: 4px;
}

.swiper-slide {
  margin: 10px;
  max-width: 500%;
  height: 100%;
  padding-top: 35px;
  padding-left: 250px;
  padding-right: 500px;
  margin: 35px;
}

@media only screen and (min-width: 2000px) {
  .swiper-slide a img {
    height: 600px;
  }
}

@media only screen and (min-width: 2200px) {
  .swiper-slide a img {
    height: 700px;
  }
}

@media only screen and (min-width: 2400px) {
  .swiper-slide a img {
    height: 800px;
  }
}

@media only screen and (min-width: 2600px) {
  .swiper-slide a img {
    height: 900px;
  }
}
@media only screen and (min-width: 2800px) {
  .swiper-slide a img {
    height: 1000px;
  }
}

@media only screen and (min-width: 3000px) {
  .swiper-slide a img {
    height: 1100px;
  }
}

@media only screen and (min-width: 3200px) {
  .swiper-slide a img {
    height: 1200px;
  }
}

@media only screen and (min-width: 3400px) {
  .swiper-slide a img {
    height: 1300px;
  }
}
@media only screen and (min-width: 3600px) {
  .swiper-slide a img {
    height: 1400px;
  }
}

@media only screen and (min-width: 3800px) {
  .swiper-slide a img {
    height: 1500px;
  }
}
@media only screen and (min-width: 4000px) {
  .swiper-slide a img {
    height: 2000px;
  }
}

.swiper {
  max-width: 1200px;
  /* background-color: white; */
}

.swiper-wrapper {
  /* background-color: GREEN; */
}

.swiper-slide {
  /* background-color: orange; */
  width: 375px !important;
  margin: 0;
  padding: 0;
}

.swiper-slide a img {
  margin: 0;
  padding: 0;
  width: 100%;
}
